.App {
  text-align: center;
}

main {
  flex: 1 0 auto;
}

footer {
  position: inherit !important;
}

main {
  padding: 3rem 5em;
}

.footer {
  padding: 3rem 5em;
  background: #1d1d1d;
  color: white;
}

.footer strong {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero .title,
.route,
.subtitle {
  visibility: hidden;
}

.main-background {
  background: #0f8a9d;
  background: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
}

.card-header-title {
  background: #00c5a5;
  color: white !important;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Route */

.no-routes {
  color: #c4c4c4;
}

.route {
  /* background: #1f619517; */
  border: 1px solid #b0d2e6;
  padding: 1em;
  box-shadow: 0 3px 6px #00000014;
}

.route.disabled {
  background: #ebebeb;
  opacity: 0.5 !important;
}

.route:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px #00000014;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
  transform: scale(1.01) !important;

  /* box-shadow: 2px 4px 20px 0px #a6a9a9; */
}

.route .fa-edit {
  margin-right: 10px;
}

.route .heading {
  color: black;
}

/* HTTP Methods */
.http-method {
  padding: 5px;
  border-radius: 5px;
}

.http-method__get {
  background: #29c711;
}

.level {
  color: white !important;
  padding: 10px 0;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

nav {
  padding: 1em;
}

.random-data {
  margin-top: 10px;
}

/* Helpers */

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(0px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.chaos-monkey {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  font-size: 3rem;
}
